/*
================================
======= Table of Content =======
================================
    0. Header
    1. Aside 
    2. ...
    3. ...
    4. ...
    5. Media Queries
================================
*/

/* ========== 0. Header ========== */
.site__header {
    background-color: transparent;
    position: sticky;
    top: 0;
}

.site__header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
}

.site__controls {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site__menu-toggle,
.site__lang-toggle,
.site__theme-toggle {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: var(--font-size-lg);
    color: var(--color-primary);
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-md);
}

i {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== 1. Aside ========== */
.site__aside {
    position: fixed;
    top: 60px;
    left: 0;
    width: 40vw;
    height: calc(100vh - 60px);
    padding: var(--spacing-md);
    transform: translateX(-110%);
    transition: transform var(--transition-normal) ease, opacity 0.3s ease;
    visibility: hidden;
    opacity: 0;
}

.site__aside.asideIsOpen {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.site__aside-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

.site__aside-link {
    max-width: 50%;
    padding: var(--spacing-md) var(--spacing-sm);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: var(--spacing-xs);
    position: relative;
}

/* ========== 5. Media Queries ========== */

/* ---------- Header ---------- */
@media (min-width: 768px) {
    .site__header .container {
        justify-content: flex-end;
    }

    .site__menu-toggle {
        display: none;
    }
}

/* ---------- Aside ---------- */
@media (min-width: 768px) {
    .site__aside {
        transform: none;
        width: auto;
        height: auto;
        visibility: visible;
        opacity: 1;
    }

    .site__aside-icon {
        font-size: var(--font-size-xl);
    }

    .site__aside-link {
        justify-content: flex-start;
        gap: 0;
    }

    .site__aside-link:hover .site__aside-tooltip {
        opacity: 1;
        visibility: visible;
    }

    .site__aside-tooltip {
        position: absolute;
        top: 20%;
        right: -400%;
        opacity: 0;
        visibility: hidden;
        background-color: var(--color-bg-dark);
        color: var(--color-text-inverse);
        border-radius: var(--radius-sm);
        width: 4.5rem;
        padding: var(--spacing-xxs);
        text-transform: capitalize;
    }

    .site__aside-tooltip::before {
        content: "";
        position: absolute;
        top: 5px;
        left: -15px;
        border: 8px solid transparent;
        border-right-color: var(--color-bg-dark);
    }
}