/*
================================
======= Table of Content =======
================================
    0. Header
    1. Aside 
    2. ...
    3. ...
    4. ...
    5. Media Queries
================================
*/

/* ========== 0. Header ========== */
.site__header {
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.site__header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md);
}

.site__controls {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-md);
    transition: var(--transition-normal);
}

.site__btn:hover {
    transform: scale(1.1);
}

.site__header-icon,
.site__aside-icon {
    color: var(--color-text-inverse);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}

/* ========== 1. Aside ========== */
.site__aside {
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1000;
    min-height: calc(100vh - 60px);
    padding: var(--spacing-md);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-110%);
    transition: var(--transition-slow);
}

html[dir="rtl"] .site__aside {
    left: auto;
    right: 0;
}
.site__aside.asideIsOpen {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

.site__aside-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
}

.site__aside-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-md);
    padding: var(--spacing-md);
    position: relative;
    transition: var(--transition-normal);
}

.site__aside-link:hover {
    transform: scale(1.1);
}

.site__aside-tooltip {
    display: none;
}

/* ========== 5. Media Queries ========== */

/* ---------- Header ---------- */
@media (min-width: 768px) {
    .site__header .container {
        justify-content: flex-end;
    }

    .site__controls {
        width: 100px;
    }

    .site__menu-toggle {
        display: none;
    }
}

/* ---------- Aside ---------- */
@media (min-width: 768px) {
    .site__aside {
        transform: none;
        width: auto;
        height: auto;
        visibility: visible;
        opacity: 1;
    }

    .site__aside-list {
        gap: var(--spacing-xxl);
    }

    .site__aside-icon {
        font-size: var(--font-size-xl);
    }


    .site__aside-tooltip {
        display: inline;
        position: absolute;
        top: 0;
        right: -220%;
        opacity: 0;
        visibility: hidden;
        background-color: var(--color-bg-dark);
        color: var(--color-text-inverse);
        border-radius: var(--radius-xl);
        width: 4.8rem;
        padding: var(--spacing-xxs);
        text-transform: capitalize;
        text-align: center;
    }
    html[dir="rtl"] .site__aside-tooltip {
        right: auto;
        left: -220%;
    }

    .site__aside-link:hover .site__aside-tooltip {
        opacity: 1;
        visibility: visible;
    }
}